*, *:before, *:after {
  box-sizing: border-box;
}

body, button, input {
  font-family: "ff-netto-web",sans-serif;
  background-color: #24292d;
  color: #efefef;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body,
html,
.global-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.global-wrapper,
.App {
  display: flex;
  flex-direction: column;
}
.App {
  flex: 1 0 auto;
}
header,
footer,
main {
  padding: .5em 1em;
}
header {
  border-bottom: 1px solid #333;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #333;
  padding-left: 1.5em;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  padding-top: 2em;
}

h1 {
  font-size: 16px;
}

.score {
  font-size: 100px;
}

.checkouts {
  opacity: .5;
  padding: 1em;
}

.update-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__field {
  border: solid #efefef;
  border-width: 0 0 2px 0;
  text-align: center;
  font-size: 24px;
  padding: .5em 1em;
  -webkit-appearance: none;
  border-radius: 0;
}

.form__field:focus,
.form__field:hover {
  outline: none;
  border-color: #af2d2d;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-grp {
  display: flex;

}

.btn {
  border: 2px solid #efefef;
  padding: 1em 1.5em;
  border-radius: 4px;
  width: 100%;
  margin: 1em 0;
  font-size: 18px;

}

.btn--sml {
  padding: .5em;
  margin: .5em 0 .5em 1em;
}

.btn--circle {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  font-size: 2em;
  padding: .4em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.btn:focus,
.btn:hover {
  color: #3bb33b;
  border-color: #3bb33b;
  outline: none;
}

.msg {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5em 1em;
  line-height: 1;
  text-align: center;
  transform: translateY(-100%);
  margin: 0;
  transition: all .2s ease-in;
}

.msg.is-on {
  visibility: visible;
  transform: translateY(0);
}

.error {
  background-color: #af2d2d;
}


.success {
  background-color: #3bb33b;
}
